@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Regular.ttf');
}

body {
  margin: 0;
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  user-select: none;
}

::-webkit-scrollbar {
  background-color: #1c242c;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #364854;
  border-radius: 10px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
}

@media (hover: hover) and (pointer: fine) {
  ::-webkit-scrollbar {
    width: 10px;
  }
}